.code-box-demo {
    text-align: center;
}

.ant-layout-header {
    background-image: linear-gradient(to right, #FC270F, #0C7ECC, #CEE9EE);
    font-size: 64px;
    font-weight: lighter;
}

.ant-layout-footer {
    background-image: linear-gradient(to right, #FC270F, #0C7ECC, #CEE9EE);
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    line-height: 1.5;
}





.ant-layout-sider {
    background-image: linear-gradient(to right, #FC270F, #0C7ECC, #CEE9EE);
    color: #fff;
    /*line-height: 120px;*/
}


[data-theme="dark"] .ant-layout-sider {
    background: #3499ec;
}

.ant-layout-content {
    background-image: linear-gradient(to right, #CEE9EE, #0C7ECC, #FC270F);
    color: #fff;
    font-weight: bolder;
    font-size: 12px;

    line-height: 50px;
}



/* ----------------------------Class----------------------------*/


.buttonInSider {
    background-image: linear-gradient(to right, #6D3D1E, #02A553);
    width: 200px;
    margin-top: 3px;
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.App-6-cart-total {
    border-bottom: 1px solid black;
    border-top: 3px solid white;
}

.App-6-cart-header {
    height: 100%;
    border-bottom: 3px solid #02A553;
    border-collapse: collapse;
}

.App-6-cart-head-border {
    height: 80%;
    width: 2%;
    border-left: 2px solid #02A553;

}

.App-6-item {
    background-image: linear-gradient(to right, #02A553, black, );
    border-radius: 1px;
    margin: 2px;

}