.Button55555 {
    display: block;
    margin: auto;
    width: 400px;
    height: 200px;
    background-image: linear-gradient(to bottom right, #0B486B, #F56217);


}

.LinkTo {
    font-size: 64px;
    color: white;
    font-weight: bold
}

.Head {
    background-image: linear-gradient(to bottom right, #0B486B, #F56217);
    height: 100%;
    font-size: 64px;
    color: white;
    font-weight: bold;
    text-align: center;

}